.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 2.9%;
  background: #EDE9F0;
  background: -webkit-linear-gradient(top left, #EDE9F0, #23ECD4);
  background: -moz-linear-gradient(top left, #EDE9F0, #23ECD4);
  background: linear-gradient(top left, #EDE9F0, #23ECD4);
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  grid-column-start: 1;
  grid-column-end: 3;
  float: left;
  padding: 70px 0;
  color: white;
  vertical-align: middle;
}

#logo {
  float: right;
}
